name: Desktop CI

on:
  push:
    branches:
      - main
    paths:
      - "apps/desktop/**"
      - ".github/workflows/desktop.yml"
  pull_request:
    paths:
      - "apps/desktop/**"
      - ".github/workflows/desktop.yml"

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/desktop

    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      # This enables task distribution via Nx Cloud
      # Run this command as early as possible, before dependencies are installed
      # Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
      # Uncomment this line to enable task distribution, and replace "e2e" with "e2e-ci" in the command below
      # - run: npx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="e2e-ci"

      # Cache node_modules
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: apps/desktop/pnpm-lock.yaml

      - uses: pnpm/action-setup@v3
        with:
          version: 9
          run_install: false

      - run: pnpm install --frozen-lockfile
      - run: pnpm exec playwright install --only-shell

      # Prepend any command with "nx-cloud record --" to record its logs to Nx Cloud
      # - run: npx nx-cloud record -- echo Hello World
      - run: pnpm exec nx run-many -t lint test build typecheck e2e
      # Nx Cloud recommends fixes for failures to help you get CI green faster. Learn more: https://nx.dev/ci/features/self-healing-ci
      - run: pnpm exec nx fix-ci
        if: always()
